

/// Colours
$primarycol: #252525;
$secondcol: #cccccc;

$text-light:rgb(255, 236, 209);
$highlighttext: #E66D4C;
$focuscolor: #575757;
$pricecardtext:#949494;
$lightcolor1: rgb(59, 59, 59);
$accentcol: #ffe2d5;
/// Standard Padding use for banners etc
$stdpadding: 3rem;

/// Narrow Padding use for text boxes etc
$narrowpadding: 1rem;