

/// Colours
$primarycol: #252525;
$secondcol: #cccccc;
$herobgblend: #f5f5f5;
$text-light:rgb(255, 236, 209);
$highlighttext: #c0c0c0;
$focuscolor: #4d4d4d;
$pricecardtext:#4d4d4d;
$lightcolor1: rgb(59, 59, 59);
$accentcol: #fae5dc;
/// Standard Padding use for banners etc
$stdpadding: 3rem;

/// Narrow Padding use for text boxes etc
$narrowpadding: 1rem;