
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

$sanserif: 'Roboto', sans-serif;
$serif: 'Roboto', sans-serif;
$handwriting: 'Roboto', sans-serif;

.herotitle{
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    margin-bottom: 1rem;
}

.herotext{
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.content{
    font-family: $sanserif;
}